<div class="page-header">
	<h1>
		Details for the broker </strong>{{brokerEndpoint}}</strong>
	</h1>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Metrics</h4>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Rate</th>
				<th>Mean</th>
				<th>1&nbsp;min</th>
				<th>5&nbsp;min</th>
				<th>15&nbsp;min</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Messages in /sec</td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
			<tr>
			<tr>
				<td>Bytes in /sec</td>
				<td><span class="badge">1.64</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
			<tr>
			<tr>
				<td>Bytes out /sec</td>
				<td><span class="badge">1.64</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
			<tr>
			<tr>
				<td>Bytes rejected /sec</td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
			<tr>
			<tr>
				<td>Failed fetch request /sec</td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
			<tr>
			<tr>
				<td>Failed produce request /sec</td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
			<tr>
		</tbody>
	</table>
</div>

<!-- <div class="panel panel-default">
	<div class="panel-heading">
		<h4>Messages count</h4>
	</div>
	<div class="ct-chart"></div>
</div> -->