<h1>Kafka Cluster</h1>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Brokers</h4>
	</div>
	<div class="panel-body">
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Host</th>
				<th>Port</th>
				<th>JMX Port</th>
				<th>Messages</th>
				<th>Bytes In</th>
				<th>Bytes Out</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="broker in cluster">
			<td>{{ broker.bid }}</td>
			<td>{{ broker.host }}</td>
			<td>{{ broker.port }}</td>
			<td>{{ broker.jmxPort }}</td>
			<td>{{ stats['broker'+ broker.bid].MessagesInPerSec.oneMinuteRate | size }}</td>
			<td>{{ stats['broker'+ broker.bid].BytesInPerSec.oneMinuteRate | size }}</td>
			<td>{{ stats['broker'+ broker.bid].BytesOutPerSec.oneMinuteRate | size }}</td>
		</tr>
	</tbody>
	</table>
	</div>
</div>

<div class="panel panel-default" ng-show="stats.summary">
		<div class="panel-heading">
			<h4>Cluster Metrics</h4>
		</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Rate</th>
					<th>Mean</th>
					<th>1&nbsp;min</th>
					<th>5&nbsp;min</th>
					<th>15&nbsp;min</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key,item) in stats.summary">
					<td>{{key}}</td>
					<td>{{item.meanRate | size }}</td>
					<td>{{item.oneMinuteRate | size }}</td>
					<td>{{item.fiveMinuteRate | size }}</td>
					<td>{{item.fifteenMinuteRate | size }}</td>
				<tr>
			</tbody>
		</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Cluster Data Trend <small>each incremental data point is 30 mins. </small></h4>
	</div>
	<div class="panel-body">
		<iframe src="./chart.html" style="width: 100%;height:770px;border:0;"></iframe>
	</div>
</div>