<style>
</style>
<h1>Settings</h1>
<form style="margin-bottom: 25px;">
	<div class="form-group">
	<label for="clusterName" class="label label-primary settingLabel">Kafka Cluster Name</label> (no need exactly same as your real cluster name) <input type="text"
		class="form-control" id="clusterName" name="clusterName"
		ng-model="settingForm.clusterName"
		placeholder="important, which is using to identity your cluster.">
	</div>
	<div class="form-group">
	<label for="kafkaBroker" class="label label-primary settingLabel">kafka Brokers</label> <input type="text"
		class="form-control" id="kafkaBroker" name="kafkaBroker"
		ng-model="settingForm.bootstrapServers"
		placeholder="broker1:9092,broker2:9092,brokerN:9092">
	</div>
	<div class="form-group">
		<label for="inputZookeeper" class="label label-primary settingLabel">Kafka Zookeepers</label> <input type="text"
			class="form-control" id="inputZookeeper" name="zkHosts"
			ng-model="settingForm.zkHosts"
			placeholder="zk1:2181,zk2:2181,zkN:2181">
	</div>
	<div class="form-group">
	<label for="inputESHosts" class="label label-primary settingLabel">ElasticSearch Hosts</label> <input type="text"
		class="form-control" id="inputESHosts" name="esHosts"
		ng-model="settingForm.esHosts"
		placeholder="JAVA API- esHost1:9300,esHost2:9300,esHostN:9300 REST API- esHost:9200">
	</div>
	<div class="form-group">
		<label for="inputESIndex">ElasticSearch Index</label> (Optional, the raw data will be saved under this index, you can use the default value.) <input type="text"
			class="form-control" id="inputESIndex" name="esIndex"
			ng-model="settingForm.esIndex"
			placeholder="ChicklingKmanager">
	</div>
	<div class="form-group">
		<label for="inputDataCollectFrequency">Data collect frequency
			(minute default: 1m)</label> <input type="number" min="1"
			ng-model="settingForm.dataCollectFrequency" class="form-control"
			id="inputDataCollectFrequency" name="dataCollectFrequency"
			placeholder="Frequency for collecting offset info from zookeeper">
	</div>
	<div class="form-group">
		<label for="inputExcludeByLastSeen">Exclude by last seen
			(minute default:2592000 [30d])</label> <input type="number" min="0"
			ng-model="settingForm.excludeByLastSeen" class="form-control"
			id="inputExcludeByLastSeen" name="excludeByLastSeen"
			placeholder="Exclude these consumer's data which was inactive for that long time">
	</div>

	<h4>Lag Monitor</h4>
	<div class="checkbox">
		<label> <input type="checkbox" name="isAlertEnabled"
			ng-model="settingForm.isAlertEnabled" ng-model="alertEnabled">
			enable alerting
		</label>
	</div>

	<div ng-show="settingForm.isAlertEnabled">
		<h5>Email</h5>
		<div class="form-group">
			<label for="inputSMTPServer">SMTP server</label> <input type="text"
				class="form-control" id="inputSMTPServer" name="smtpServer"
				ng-model="settingForm.smtpServer" placeholder="SMTP server address">
		</div>
		<div class="checkbox">
			<label> <input ng-model="settingForm.smtpAuth"
				type="checkbox" name="smtpAuth"> authenticate
			</label>
		</div>
		<div class="form-group" ng-show="settingForm.smtpAuth">
			<label for="inputSMTPUser">User</label> <input type="text"
				class="form-control" id="inputSMTPUser"
				ng-model="settingForm.smtpUser"
				placeholder="SMTP server auth username">
		</div>
		<div class="form-group" ng-show="settingForm.smtpAuth">
			<label for="inputSMTPPasswd">Password</label> <input type="password"
				class="form-control" id="inputSMTPPasswd"
				ng-model="settingForm.smtpPasswd"
				placeholder="SMTP server auth password">
		</div>
		<div class="form-group">
			<label for="inputMailSender">Mail sender</label> <input type="text"
				class="form-control" id="inputMailSender"
				ng-model="settingForm.mailSender"
				placeholder="Like KafkaAlerting@chickling.com or something">
		</div>
		<div class="form-group">
			<label for="inputMailSubject">Mail subject</label> <input type="text"
				class="form-control" id=""inputMailSubject""
				ng-model="settingForm.mailSubject"
				placeholder="Something like (Alerting)Kafka monitor alerting! ">
		</div>
	</div>

	<button class="btn btn-default" ng-click="submitSetting()">Submit</button>
</form>
