<h1>{{topic}} Detail</h1>

<div class="panel panel-default" ng-show="stats.summary">
	<div class="panel-heading">
		<h4>Metrics</h4>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Rate</th>
					<th>Mean</th>
					<th>1&nbsp;min</th>
					<th>5&nbsp;min</th>
					<th>15&nbsp;min</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key,item) in stats.summary">
					<td>{{key}}</td>
					<td>{{item.meanRate | size }}</td>
					<td>{{item.oneMinuteRate | size }}</td>
					<td>{{item.fiveMinuteRate | size }}</td>
					<td>{{item.fifteenMinuteRate | size }}</td>
				<tr>
			</tbody>
		</table>
	</div>
</div>

<div class="alert alert-info" ng-show="loading">Loading ...</div>

<div ng-hide="loading">
	<div ng-show="info.consumers.broker.length > 0">
		<h2>Consumers Offsets Committed to Broker</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Consumer Group</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in info.consumers.broker">
					<td><a href="#/group/{{c.name}}/{{topic}}">{{c.name}}</a></td>
				</tr>
				<tr ng-show="info.consumers.broker.length == 0">
					<td>Broker Unable to find Consumers</td>
				</tr>
			</tbody>
		</table>

		<h2>Consumers Offsets</h2>
		<div ng-repeat="info in info.consumers.broker">
			<div ng-include="'views/includes/group.inc.html'"></div>
		</div>
		<div ng-show="info.consumers.broker.length == 0">Broker Unable
			to find Consumers Offsets</div>
	</div>


	<div ng-show="info.consumers.zk.length > 0">
		<h2>Consumers Offsets Committed to ZK</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Consumer Group</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in info.consumers.zk">
					<td><a href="#/group/{{c.name}}/{{topic}}">{{c.name}}</a></td>
				</tr>
				<tr ng-show="info.consumers.zk.length == 0">
					<td>ZK Unable to find Consumers</td>
				</tr>
			</tbody>
		</table>

		<h2>Consumers Offsets</h2>
		<div ng-repeat="info in info.consumers.zk">
			<div ng-include="'views/includes/group.inc.html'"></div>
		</div>
		<div ng-show="info.consumers.zk.length == 0">ZK Unable to find
			Consumers Offsets</div>
		<hr />
	</div>


</div>