<div class="page-header">
	<h1>
		Offset History for <strong>{{group}}</strong> &mdash; <strong>
			{{topic}}</strong>
	</h1>
</div>

<ol class="breadcrumb">
	<li><a href="./#/groups">Groups List</a></li>
	<li><a href="#/group/{{group}}">{{group}}</a></li>
	<li class="active"><a href="./#/topicdetail/{{topic}}">{{topic}}</a></li>
	<li class="pull-right"><button type="button"
			class="btn btn-primary btn-sm" data-toggle="modal"
			data-target="#taskModal" data-topic="{{topic}}"
			data-group="{{group}}" id="newTask">Add alerting</button></li>
</ol>

<!-- Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog"
	aria-labelledby="taskModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="taskModalLabel">New Task</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="taskForm" action="alerting/new"
					method="post">
					<div class="form-group">
						<label for="inputTopicName" class="col-sm-4 control-label">Topic
							Name</label>
						<div class="col-sm-8" id="inputTopicName"></div>
						<input type="hidden" name="topic" value="" id="topic"
							ng-model="task.topic" />
					</div>
					<div class="form-group">
						<label for="inputConsumerGroup" class="col-sm-4 control-label">Consumer
							Group Name</label>
						<div class="col-sm-8" id="create-consumer"></div>
						<input type="hidden" name="group" value="" id="group"
							ng-model="task.group" />
					</div>
					<div class="form-group">
						<label for="inputThreshold" class="col-sm-4 control-label">Message
							Lag Threshold</label>
						<div class="col-sm-8">
							<input type="number" min="1" class="form-control"
								id="inputThreshold" name="threshold" placeholder="Threshold"
								ng-model="task.threshold" oninput="onInputNumber(event)" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputDiapause" class="col-sm-4 control-label">Alerting
							send Diapause</label>
						<div class="col-sm-8">
							<input type="number" min="1" class="form-control"
								id="inputDiapause" name="diapause" ng-model="task.diapause"
								placeholder="Diapause (Minutes)" oninput="onInputNumber(event)" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-sm-4 control-label">MailTo</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="inputEmail"
								ng-model="task.mailTo" name="mailTo"
								placeholder="You can enter a mail list, split by ;"
								oninput="onInputEmail(event)" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="submitTask">Submit
					task</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<form ng-submit="offsetHistoryByDateRange()"
		class="form-inline date-range">
		<div class="form-group">
			<label for="timerange_select">Time Range:</label> <select
				class="form-control" id="timerange_select"
				ng-model="rangeform.range" ng-change="onRangeChanged()"
				ng-options="range.code as range.value for range in rangeOptions">
			</select>
		</div>
		<div class="form-group">
			<label for="datepick_from" class="control-label">From: </label>
			<div class="input-group date form_datetime"
				data-date-format="yyyy-mm-dd hh:ii"
				data-date="{{date | date:'yyyy-MM-dd hh:mm'}}">
				<input class="form-control" size="16" type="text"
					value="{{rangeform.rangetoStr}}" readonly name="datepicker_from"
					id="time" ng-model="rangeform.rangetoStr" /> <span
					class="input-group-addon"><span
					class="glyphicon glyphicon-remove"></span></span> <span
					class="input-group-addon"><span
					class="glyphicon glyphicon-th"></span></span>
			</div>
		</div>
		<div class="form-group">
			<label for="timerange_select">Interval:</label> <select
				class="form-control" id="interval_select"
				ng-model="rangeform.interval"
				ng-options="interval.code as interval.value for interval in intervalOptions">
			</select>
		</div>
		<button type="submit" class="btn btn-default">Go</button>
		<div class="form-group" ng-show="loading">
			<div class="cssload-square">
				<div class="cssload-square-part cssload-square-green"></div>
				<div class="cssload-square-part cssload-square-pink"></div>
				<div class="cssload-square-blend"></div>
			</div>
		</div>
	</form>
</div>
<chart data="data"></chart>