<div class="page-header">
	<h1>
		Details for the topic </strong>{{topic}}</strong>
	</h1>
</div>

<div class="panel panel-default" ng-show="jmxEnabled">
	<div class="panel-heading">
		<h4>Metrics</h4>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Rate</th>
				<th>Mean</th>
				<th>1&nbsp;min</th>
				<th>5&nbsp;min</th>
				<th>15&nbsp;min</th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr>
				<td>Messages in /sec</td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
				<td><span class="badge">0.00</span></td>
			<tr> -->
			<tr>
				<td>Bytes in</td>
				<td><span class="badge">{{brokerTopicMetrics.BytesInPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesInPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesInPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesInPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Bytes out</td>
				<td><span class="badge">{{brokerTopicMetrics.BytesOutPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesOutPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesOutPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesOutPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Bytes rejected</td>
				<td><span class="badge">{{brokerTopicMetrics.BytesRejectedPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesRejectedPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesRejectedPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesRejectedPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Failed fetch request</td>
				<td><span class="badge">{{brokerTopicMetrics.FailedFetchRequestsPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedFetchRequestsPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedFetchRequestsPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedFetchRequestsPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Failed produce request</td>
				<td><span class="badge">{{brokerTopicMetrics.FailedProduceRequestsPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedProduceRequestsPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedProduceRequestsPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedProduceRequestsPerSec.fifteenMinuteRate}}</span></td>
			<tr>
		</tbody>
	</table>
</div>

<div class="alert alert-info" role="alert" ng-hide="jmxEnabled">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  JMX is not avialable
</div>

<div class="alert alert-info" ng-show="loading">Loading ...</div>

				<div ng-hide="loading">
					<h2>Active Consumers</h2>

					<table class="table">
						<thead>
							<tr>
								<th>name</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="c in info.consumers.active">
								<td>{{c.name}}</td>
							</tr>
							<tr ng-show="info.consumers.active.length == 0">
								<td>Unable to find Active Consumers</td>
							</tr>
						</tbody>
					</table>

					<h2>Active Consumers Offsets</h2>
					<div ng-repeat="info in info.consumers.active">
						<div ng-include="'views/includes/group.inc.html'"></div>
					</div>
					<div ng-show="info.consumers.active.length == 0">Unable to
						find Active Consumers</div>

					<hr />

					<h2>InActive Consumers</h2>

					<table class="table">
						<thead>
							<tr>
								<th>name</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="c in info.consumers.inactive">
								<td>{{c.name}}</td>
							</tr>
							<tr ng-show="info.consumers.inactive.length == 0">
								<td>Unable to find Inactive Consumers</td>
							</tr>
						</tbody>
					</table>

					<h2>Inactive Consumers Offsets</h2>
					<div ng-repeat="info in info.consumers.inactive">
						<div ng-include="'views/includes/group.inc.html'"></div>
					</div>
					<div ng-show="info.consumers.inactive.length == 0">Unable to
						find Inactive Consumers</div>

					<hr />

				</div>