<div class="page-header">
	<h1>
		Details for the topic </strong>{{topic}}</strong>
	</h1>
</div>

<div class="panel panel-default" ng-show="jmxEnabled">
	<div class="panel-heading">
		<h4>Metrics</h4>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Rate</th>
				<th>Mean</th>
				<th>1&nbsp;min</th>
				<th>5&nbsp;min</th>
				<th>15&nbsp;min</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Messages in /sec</td>
				<td><span class="badge">{{brokerTopicMetrics.MessagesInPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.MessagesInPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.MessagesInPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.MessagesInPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Bytes in /sec</td>
				<td><span class="badge">{{brokerTopicMetrics.BytesInPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesInPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesInPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesInPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Bytes out /sec</td>
				<td><span class="badge">{{brokerTopicMetrics.BytesOutPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesOutPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesOutPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesOutPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Bytes rejected /sec</td>
				<td><span class="badge">{{brokerTopicMetrics.BytesRejectedPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesRejectedPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesRejectedPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.BytesRejectedPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Failed fetch request /sec</td>
				<td><span class="badge">{{brokerTopicMetrics.FailedFetchRequestsPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedFetchRequestsPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedFetchRequestsPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedFetchRequestsPerSec.fifteenMinuteRate}}</span></td>
			<tr>
			<tr>
				<td>Failed produce request /sec</td>
				<td><span class="badge">{{brokerTopicMetrics.FailedProduceRequestsPerSec.meanRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedProduceRequestsPerSec.oneMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedProduceRequestsPerSec.fiveMinuteRate}}</span></td>
				<td><span class="badge">{{brokerTopicMetrics.FailedProduceRequestsPerSec.fifteenMinuteRate}}</span></td>
			<tr>
		</tbody>
	</table>
</div>

<div class="alert alert-info" role="alert" ng-hide="jmxEnabled">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Info:</span> JMX is not avialable
</div>

<div class="alert alert-info" ng-show="loading">Loading ...</div>

<div ng-hide="loading">
	<h2>Active Consumers</h2>
	<table class="table">
		<thead>
			<tr>
				<th>name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in info.consumers">
				<td ng-if="c.name == 'Unable to find Active Consumers'">
					{{c.name}}</td>
				<td ng-if="c.name != 'Unable to find Active Consumers'"><a
					href="./#/group/{{c.name}}/{{topic}}">{{c.name}}</a></td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-default" href="./#/topic/{{topic}}/consumers"
		role="button">More details...</a>
	<hr />

</div>